{% extends "layout.html" %}

{% block title %}
    Order
{% endblock %}

{% block main %}
    <form action="/ordered" method="post">
        <table class="table table-striped">
            <tr>
                <th>Food</th>
                <th>Description</th>
                <th>Price</th>
                <th>Order</th>
            </tr>
        {% for item in menu %}
            <tr>
                <td>{{ item.food }}</td>
                <td>{{ item.description }}</td>
                <td>${{ item.price }}</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1"></label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </table>
        <div class="form-group">
            <input class="form-control" name="room" placeholder="Room (Ex. W401)" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Order</button>
{% endblock %}