{% extends "layout.html" %}

{% block title %}
    Past Orders
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <tr>
            <th>Item</th>
            <th>Comments</th>
            <th>Delivery Room</th>
            <th>Datetime</th>
            <th>Price</th>
            <th>Complete</th>
        </tr>
    {% for food in ordered %}
        <tr>
            <td>{{ food.food }}</td>
            <td>{{ food.comments }}</td>
            <td>{{ food.deliverroom }}</td>
            <td>{{ food.timestamp }}</td>
            <td>${{ food.total }}</td>
            <td>${{ food.status }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}