nav .navbar-brand
{
    /* font size */
    font-size: xx-large;
}

/* colors for stuff */
nav
{
    background-color: #9c3048;
}
nav .navbar-brand .gold
{
    color: #D4AF37;
}
body
{
    background-color: #773141;
}

/* styling for stuff */
main .form-control
{
    /* override Bootstrap controls */
    width: auto;
}
form
{
    display: inline-block;
}

main
{
    /* scrolling horizontally */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
