{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>
        <font color = "white">
            How DunsterDash Works
        </font>
    </h1>
    <p>
        <font color = "white">
            First, place an order for the grill using the order tab above. If you are unsure to order a link to the menu is provided.
            Lastly, place your order. A delivery boy or girl will arrive at your door shortly to collect your Harvard ID to use it to pay at the grill. When the food is ready, they will return with your Harvard ID and your food.
        </font>
    </p>
{% endblock %}